/* Configuración general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del header */
header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: #161a31;
    border-bottom: 1px solid #ccc;
    color: #f9f9f9;
}

header h1 {
    flex: 1; /* Permite que el <h1> ocupe el espacio restante */
    text-align: center; /* Centra el texto dentro del <h1> */
}

.logo img {
    width: 5rem; /* 80px en rems */
    height: auto;
    border-radius: 50%;
}

/* Estilo del main */
main {
    display: flex;
    flex: 1;
    margin: 1rem;/* Estilo del main */
    
}

.content {
    flex: 1;
    margin-right: 1rem;
}

.content p{
    margin-left: 24px;
    padding-left: 1rem;
}

textarea {
    width: 90%;
    height: 300px;
    padding: 1rem;
    margin-left: 24px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    resize: none;
}

.buttons {
    margin-top: 0.5rem;
    text-align: center;
    

}

button {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 0.5rem;
    background-color: #1a36a8;
    color: white;
    cursor: pointer;
    font-size: 24px;

}

button:hover {
    background-color: hsl(211, 97%, 12%);
}

#decrypt-btn{
    background-color: #3181d6;
}

#decrypt-btn:hover{
    background-color: hsl(211, 89%, 19%);
}
.sidebar {
    width: 35%; /* 300px en rems */
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    justify-content: space-between;
    height: 400px;
    margin-inline-end: 30px;
    
}

.sidebar #copy-btn {
    margin-top: auto; 
    padding: 1rem;
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 0.5rem;
    background-color: #3181d6;
    color: white;
    cursor: pointer;
    font-size: 16px;
    
}

#sidebar-image {
    max-width: 100%;
    height: auto;
}

#sidebar-text {
    margin: 1rem 0;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 0.75rem;
    background-color: #161a31; /* Color de fondo del footer */
    color: #f9f9f9;
    width: 100%;
    padding: 20px 0; /* Padding vertical para espacio interno */
    box-sizing: border-box; /* Incluye padding en el tamaño total */
    min-height: 108px; /* Asegura una altura mínima */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto; /* Empuja el footer hacia abajo */
   
}

/* Responsividad */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        margin-top: 1rem;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 4rem; /* 80px en rems */
    }

    textarea {
        height: 150px;
    }
}